@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  gap: 20px;
}

.status-column {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.status-column h2 {
  text-align: center;
}

.tasks {
  margin-top: 10px;
}

.task {
  background-color: #e0e0e0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
